/.bundle/
/.env*
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep
/public/assets/
/public/packs/
/node_modules/
/.rspec_status
/coverage/
/vendor/bundle/
/.bundle-home/
.DS_Store
*.swp
